= render "layouts/header"
#wrapper.container_24/

%h2 Post a job
One Job posting: £109 per Job
5 Job Package £99 per Job


=semantic_form_for @job do |f|


  =f.inputs "Job" do 
    =f.input :title
    =f.input :location
    =f.input :position_type, as: :select, collection: ["Full-Time", "Contract", "Freelance"]
    =f.input :description
    =f.input :info


  -unless current_employer 
    =f.semantic_fields_for :employer do |e| 
      =e.input :email
      =e.input :password
      =e.input :password_confirmation
      =e.input :name
      =e.input :city
      =e.input :company_name
      =e.input :website
      =e.input :logo, as: :file
      
      
  =f.submit      
      
      