= render "layouts/header"
#wrapper.container_24
  #jobcontainer.grid_17.sidebarline
    .title
      %h1 Contact Us
    .contactcontent
      %p
        HotSeats.co works with employers across the UK. We enjoy helping great companies
        connect with talented professionals. Give us a call or send us an email anytime - we
        are always happy to help and would love to hear from you.
      %p Call us:
      %h6 0161 212 2388
      %p Mailing Address:
      %h6
        St James Court‎
        30 Brown St, Manchester, Greater Manchester M2 1DH, UK
  #sidebar.grid_7
    .sidebarheader
      %h3 100% Satisfaction Guarantee
    .sidebarline
    .sidebar_content
      %p
        Post your job on HotSeats.co and if you're
        not completely satisfied with the results
        you receive simply contact us for a full
        and courteous refund
    .sidebarheader
      %h3 A few of the future customers of HotSeats
    .sidebarline
    %h3 Post a Job
    .sidebarline
    .sidebar_content
      %p Post a job with HotSeats.co today for guaranteed recruitment satisfaction.
    .redbutton_sidebar
      .buttontext= link_to "Post job", new_jobs_path
  .clear
  .space