<%= render "layouts/header" %>
<div id="wrapper" class="container_24">
<div id="jobcontainer" class= "grid_24 ">

		<div class="guatitle">
		<h1>100% Satisfaction Guaranteed. No Questions Asked.</h1>
		</div>

		<div class="grid_20 redline_gua push_2"></div>
		<div class="guacontent grid_18 push_3">
			<p>Post your job on HotSeats.co and if you are not happy with the results you receive from your listing 
		we will be happy to give you a prompt and courteous refund. No questions asked.
		<br /><br />
		Your satisfaction is extremely important to us and we want you to keep coming back to HotSeats.co.
		To request a refund simply contact us within 30 days of your job being posted and provide us with 
		the details of your posting (your name, company, date of posting, etc).<p>
	</div>
	<div class="clear"></div>

	<div class="grid_9 redline push_1"></div>

	<div class="redbutton_employers grid_4 push_1">
		<div class="buttontext"><%= link_to "Post Job", new_jobs_path %></div>
	</div>

	<div class="grid_9 redline push_1"></div>
</div>
			
<div class="space"></div>

</div>
<%= render "layouts/footer" %>


