= render "layouts/header"
#wrapper.container_24
  #jobcontainer.grid_24
    .guatitle
      %h1 100% Satisfaction Guaranteed. No Questions Asked.
    .grid_20.redline_gua.push_2
    .guacontent.grid_18.push_3
      %p
        Post your job on HotSeats.co and if you are not happy with the results you receive from your listing
        we will be happy to give you a prompt and courteous refund. No questions asked.
        %br/
        %br/
        Your satisfaction is extremely important to us and we want you to keep coming back to HotSeats.co.
        To request a refund simply contact us within 30 days of your job being posted and provide us with
        the details of your posting (your name, company, date of posting, etc).
      %p
    .clear
    .grid_9.redline.push_1
    .redbutton_employers.grid_4.push_1
      .buttontext= link_to "Post Job", new_jobs_path
    .grid_9.redline.push_1
  .space
= render "layouts/footer"