-#sidebar.grid_7
  .sidebarheader
    %h3 A few of the future customers of HotSeats
  .sidebarline
  %h3 Post a Job
  .sidebarline
  .sidebar_content
    %p Post a job with HotSeats.co today for guaranteed recruitment satisfaction.
  .redbutton_sidebar
    .buttontext= link_to 'Post Job'
.clear





#footer.container_24
  %ol
    %li Jobs
  .vertline
  %ol
    %li Job Seekers
    %li Sign Up
    %li Login
    %li
  .vertline
  %ol
    %li Employers
    %li Post Job
    %li Guarantee
    %li Partners
  .vertline
  %ol
    %li About
    %li Contact
  .vertline
  %ol
    %li Blog
.space

